.hide{
  display: none;
  overflow: hidden;
}

.label{
  font-size: .9rem;
  margin-right: .25rem;
}

.input_block{
  display: flex;
  align-items: center;
  padding: .25rem 0;
}

.message{
  padding: .25rem 0;
  font-size: .8rem;
  color: red;
}

.footer{
  display: block;
}