@import "../../../scss/mixin";
@import "../../../scss/variables";

.title_container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  width: 100%;
  max-height: 3rem;
  min-height: 3rem;
  font-size: 1.3rem;
}

.title_container_other{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  width: 100%;
  max-height: 2.25rem;
  min-height: 2.25rem;
}

.title{
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.title_btn_add{
  position: absolute;
  right: 0;
  @include btn_gray;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  background-color: $primary-blue;
  color: white;
  &:hover{
    background-color: $primary-blue-hover;
    color: white;
  }
}

.profile_list_container{
  max-height: 100vh;
  overflow-y: auto;
}

.profile_category_title{
  font-size: .9rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: .25rem;
}

.profile_category_title_other{
  margin: 0;
  padding: .25rem 0;
  text-align: center;
  font-size: .975rem;
  font-weight: 500;
}

.profile_container{
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile_container_other{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: .5rem 0;
  margin: 0;
}

.profile_block{
  display: flex;
  align-items: center;
  padding: .75rem 0;
  padding-left: .5rem;
  min-height: 2rem;
  border-radius: .25rem;
}

.profile_block_other{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 22%;
  min-height: 4.25rem;
  list-style: none;
  padding-top: .25rem;
  border-radius: .25rem;
  margin-left: 4%;
  &:hover{
    background-color: $primary-default-btn-background;
  }
  &:first-child{
    margin-left: 0;
  }
}

.profile{
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: $font-color-gray;
  &:hover{
    color: $font-color-light-gray;
    background-color: $primary-default-btn-background;
  }
}

.profile_other{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: .25rem 0;
  text-decoration: none;
  color: $font-color-gray;
  &:hover{
    color: $font-color-light-gray;
  }
}

.profile_btns{
  display: flex;
}

.btn_margin{
  margin-right: .25rem;
}
.profile_btn{
  @include btn_gray;
  min-width: 3rem;
  min-height: 1.5rem;
  padding: 0 4px;
  margin-left: .5rem;
  font-size: .75rem;
  svg{
    pointer-events: none;
  }
  // background-color: $primary-default;
}

@include mobile{
  .profile_block_other{
    border: 1px solid $primary-default-btn-background;
    border-radius: .25rem;
  }
  .profile_btn{
    min-width: 1.75rem;
    min-height: 1.75rem;
    margin-left: .75rem;
  }
}