@import "../../../scss/variables";


.subcomment{
  padding-left:  1rem;
  margin: .5rem 0;
  border-left: 1px solid $primary-orange-border;
  color: $font-color-gray;
  font-size: .85rem;
  &:first-child{
    margin-top: 0;
  }
}

.subcomment_header{
  display: flex;
  align-items: center;
}

.subcomment_date{
  font-size: .8rem;
}

.subcomment_btns{
  display: flex;
  margin-bottom: .3rem;
}

.subcomment_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 4rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: 1px 0;
  margin-right: .3rem;
  background-color: rgba(176, 175, 175, 0.334);
  font-size: .8rem;
  &_icon{
    color: $primary-default;
  }
  &:hover{
    color: rgb(69, 69, 69);
  }
  span{
    margin: 0;
    margin-left: .2rem;
  }
}

.subComment_remove_modal{
  width: 80%;
  margin: auto;
}

.btn_margin{
  margin-right: .5rem;
}

.btn_text{
  margin-left: .2rem;
}