@import "../../../scss/variables";


.subcomment_text{
  font-size: .85rem;
  font-weight: 400;
}

.subcomment_date{
  font-size: .8rem;
}

.subComment_remove_modal{
  width: 80%;
  margin: auto;
}

.btn_margin{
  margin-right: .5rem;
}

.btn_text{
  margin-left: .2rem;
}