@import "../../scss/variables";

div.card{
  max-width: 28rem;
  max-height: 80rem;
  margin: 1rem auto;
  box-shadow: $card-box-shadow-bottom;
  border-radius: .5rem;
  border: 1px solid $primary-default-border;
}

div.card_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: none;
  .card_header_img{
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    object-fit:cover;
  }
  .card_header_img_credit{
    display: none;
  }
  .card_header_title{
    font-size: 1rem;
    margin: 0;
  }
  .card_header_right{
    display: flex;
    button{
      margin-left: .5rem;
    }
  }
}

