@import "../../scss/variables";

.comment{
  font-size: .9rem;
  padding: .25rem .5rem;
  color: $font-color-gray;
}

.comment_border{
  font-size: .9rem;
  padding: .25rem .5rem;
  color: $font-color-gray;
  border-bottom: 1px dashed $primary-blue;
}


.comment_nickname{
  color: black;
  font-weight: 500;
  font-size: .825rem;
}

.comment_username{
  font-size: .775rem;
}

.comment_text{
  font-weight: 500;
}

.comment_date{
  font-size: .775rem;
}

.blank{
  height: .25rem;
}

.direct{
  height: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: $primary-orange;
  &:hover{
    color: $primary-orange-hover;
  }
}

.direct_icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  margin: 0 auto;
}

.more{
  margin: .5rem;
  font-size: .9rem;
  color: $primary-blue;
  width: 5rem;
  cursor: pointer;
  &:hover{
    color: $primary-blue-hover;
  }
}

.comment_btns{
  display: flex;
  margin-bottom: .3rem;
}

.comment_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 4rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: 1px 0;
  margin-right: .3rem;
  background-color: rgba(176, 175, 175, 0.334);
  font-size: .8rem;
  &_icon{
    color: $primary-orange;
  }
  &:hover{
    color: $font-color-gray;
  }
  span{
    margin: 0;
    margin-left: .2rem;
  }
}

.comment_remove_modal{
  width: 80%;
  margin: auto;
}