@import "../../scss/variables";
@import "../../scss/mixin";

.container{
  margin-left: 1rem;
}

.more_container{
  display: flex;
}

.more{
  @include btn_gray;
  margin: .25rem;
  padding: .1rem .2rem;
  padding-bottom: 0;
  cursor: pointer;
  &:hover{
    color: $primary-blue-hover;
  }
  &_icon{
    color: $primary-blue;
  }
}
