@import "../../../scss/variables";

.loading_icon{
  margin: 0 .25rem;
  color: $primary-blue;
  animation: loading-logo-spin infinite 1s linear;
}

.size_md{
  font-size: 1.3rem;
}

@keyframes loading-logo-spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}