@import "../scss/mixin";
@import "../scss/variables";

$background-orange: rgb(249, 238, 221);
$border-orange: rgb(239, 207, 160);
$hover-orange: rgb(255, 123, 0);

.login{
  height: 100vh;
  background-color: $background-orange;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &_title{
    margin: 0 auto;
    color: orange;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
  }
  &_subtitle{
    display: block;
    margin: 1rem auto;
    max-width: 21rem;
    word-break: break-all;
    font-weight: 500;
    text-align: center;
    font-size: 1.75rem;
  }
  &_card{
    width: 25rem;
    height: 40rem;
  }
  &_card__wrapper{
    margin: 1rem;
  }
  &_card__bottom{
    max-width: 25rem;
    margin: auto;
    margin-top: 4rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 3px 6px rgba(116, 116, 116, 0.42);
    border-radius: .4rem;
  }
  .input{
    display: block;
    max-height: 3rem;
    height: 2.5rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: .5rem;
    border: 1px solid $border-orange;
    border-radius: .4rem;
    text-indent: .9rem;
    font-size: 1rem;
    &:focus{
      outline: 0;
      border: 1px solid orange;
    }
  }
  &_btn{
    height: 3rem;
    width: 100%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover:disabled,
    &:disabled{
      background-color: rgba(255, 166, 0, 0.525);
      cursor: default;
    }
    &__login{
      background-color: orange;
      &:hover{
        background-color: rgb(255, 157, 0);
      }
    }
    &__register{
      margin: 2rem auto;
      width: 60%;
      background-color:royalblue ;
      &:hover{
        background-color: rgb(53, 92, 207);
      }
    }
  }
  &_message{
    margin: 1rem 0;
    font-size: .9rem;
    text-align: center;
    color: $hover-orange;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
  &_line{
    height: 1px;
    border-bottom: 1px solid $border-orange;
    margin: .5rem 0;
  }
  &_error__message{
    display: block;
    color: red;
    width: 90%;
    margin: 0 auto;
    margin-bottom: .5rem;
    font-size: .8rem;
  }
}

.btn_back{
  display: none;
}

@include mobile {
  .login{
    display: block;
    height: 100vh;
    &_title{

    text-align: center;
      font-size: 2.5rem;
      margin: 0;
      margin-bottom: 1rem;
      padding-top: 3rem;
    }
    &_subtitle{

    text-align: center;
      font-size: 1.4rem;
    }
    &_card{
      height: 100%;
      width: 100%;
      border: none;
      border-radius: 0;
      background-color: white;
      &__wrapper{
        height: 90%;
        width: 90%;
        margin: auto;
      }
      &__bottom{
        margin-top: 2rem;
        border: none;
        box-shadow: none;
      }
    }
  }
  .btn_back{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    @include flex_center;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: 1px solid $primary-blue;
    border-radius: .5rem;
    background-color: $primary-blue;
    font-size: 1.25rem;
    color: white;
  }
}

