@import "../scss/variables";


.profile_form{
  width: 100%;
  font-size: .9rem;
}

.form_game_selector{
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  input{
    width: 100%;
  }
}

.form_file{
  margin-top: 1rem;
}

.form_file_btn{
  margin-right: .5rem;
}

.form_file_input{
  display: none;
}

.form_file_img{
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  object-fit: cover;
}

.form_nickname{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.form_nickname_label{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 2rem;
  border-radius: .25rem;
  background-color: $primary-blue;
  color: white;
  font-size: .9rem;
  text-align: center;
}

.form_nickname_input{
  width: 100%;
}

.profile{
  display: flex;
}