@import "../scss/variables";
@import "../scss/mixin";

.container{
  min-width: 12rem;
  max-width: 15rem;
  padding: 1rem;
  padding-bottom: 0;
}

.category_list_title{
  position: relative;
  display: flex;
  align-items: center;
  max-height: 1.5rem;
  width: 100%;
  min-height: 3rem;
  min-width: 100%;
  padding-bottom: .5rem;
  font-size: 1.3rem;
}

.category_title{
  font-size: 1.1rem;
  margin: 0 .25rem;
}

.category_title_button{
  position: absolute;
  right: 0;
  @include btn_gray;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  background-color: $primary-blue;
  color: white;
  &:hover{
    background-color: $primary-blue-hover;
    color: white;
  }
}

.hide{
  display: none;
}

.category_add{
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 2rem;
  padding-bottom: .5rem;
  font-size: .9rem;
  &_input{
    height: 100%;
    width: 100%;
  }
  &_button{
    @include btn_gray;
    background-color: $primary-default;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .25rem;
  }
}

.category_list{
  width: 100%;
  max-width: 100%;
  padding: 0;
  list-style: none;
}

.category_item{
  margin: .5rem 0;
  border: 1px solid $primary-orange-border;
  border-radius: .25rem;
  font-size: .95rem;
  cursor: pointer;
  &:hover{
    color: $font-color-gray;
    background-color: $primary-default-btn-background;
  }
  &.active{
    margin-left: 1.25rem;
    
  }
  .item_text{
    margin:0;
    text-indent: .5rem;
    // background-color: $primary-default-btn-background;
  }
}