
.profile_img{
  height: 1.75rem;
  width: 1.75rem;
  margin-right: .25rem;
  border-radius: 50%;
  object-fit:cover;
}
.profile_img_credit{
  display: none;
}

.profile_nickname{
  padding: .5rem;
  padding-left: 0;
  font-size: 0.825rem;
  font-weight: 400;
  color: black;
}

.profile_username{
  font-size: .775rem;
}