@import "../scss/variables";

.profile_img{
  height: 1.75rem;
  width: 1.75rem;
  margin-right: .25rem;
  border-radius: 50%;
  object-fit:cover;
}
.profile_img_credit{
  display: none;
}

.profile_nickname{
  font-size: 0.85rem;
  font-weight: 500;
  color: $font-color-gray;
}

.profile_username{
  padding-right: .5rem;
  font-size: .8rem;
  color: $font-color-gray;
}