@import "../scss/variables";

.container{
  display: flex;
}

.search_container{
}

.search_input{
}

.search_recommand_container{
  background-color: white;
  border: 1px solid $primary-blue;
  border-top: none;
}

.finded_game_border{
  background-color: rgba(0, 0, 255, 0.234);
}

.navbar_btns{
  display: flex;
  right: 1rem;
}