@import "../scss/variables";
@import "../scss/mixin";

.container{
  display: flex;
  height: 2rem;
  border: 1px solid $primary-gray;
  border-radius: .25rem;
}

.dropdown{
  height: 100%;
}

.search_input{
  display: block;
  height: 100%;
  border: 1px solid $primary-gray;
  outline: none;
}

.search_recommand_container{
  background-color: white;
  border: 1px solid $primary-gray;
  border-top: none;
}

.finded_game_border{
  background-color: rgba(0, 0, 255, 0.234);
}

.navbar_btns{
  display: flex;
  right: 1rem;
}

.hide{
  display: none;
}
