@import "../scss/variables";
@import "../scss/mixin";

.container{
  min-width: 13rem;
  max-width: 13rem;
  padding: 1rem;
  padding-bottom: 0;
}

@include mobile{
  .container{
    display: none;
  }
}