@import "../../../scss/mixin";
@import "../../../scss/variables";

div.card{
  max-width: 28rem;
  min-height: 10rem; 
  margin: 2.5rem auto;
  margin-top: 0;
  box-shadow: $card-box-shadow-bottom;
  border-radius: .5rem;
  border: 1px solid $primary-default-border;
}

div.card_header{
  border-bottom: none;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  .nav_link{
    text-decoration: none;
    color: $font-color-gray;
    &:hover{
      color: $font-color-light-gray;
    }
  }
  .card_header_game{
    height: 1.5rem;
    margin: 0 auto;
    font-size: .95rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-color-gray;
  }
  .card_header_profile{
    display: flex;
    align-items: center;
    min-height: 2.2rem;
    .card_header_subtitle{
      // margin-top: .1rem;
      font-size: .75rem;
      color: $font-color-gray;
      font-weight: 400;
    }  
  }
  .card_header_menu{
    position: absolute;
    right: .5rem;
    top: .5rem;
    .header_menu_container{
      position: absolute;
      top: 3px;
      width: 0;
      height: 0;
      background-color: transparent;
      color:transparent;
      border-color: transparent;
      &:focus{
        box-shadow: none;
      }
      // width: 1.5rem;
      // height: 1.5rem;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // background-color: $primary-orange;
      // border-color: $primary-orange;
      // &:hover{
      //   background-color: $primary-orange-hover;
      //   border-color: $primary-orange-hover;
      // }
      // &:focus{
      //   box-shadow: $primary-orange-box-shadow;
      // }
    }
    .header_menu_items{
      min-width: 4rem;
      text-align: center;
    }
  }
}

div.card_body{
  padding: .5rem 1.3rem;
  font-size: .95rem;
  font-weight: 400;
  .card_body_slide{
    display: block;
    width: 100%;
    height: 17rem;
    max-width: 100%;
    min-height: 10rem;
    max-height: 17rem;
    margin: 0 auto;
    object-fit: cover;
    padding-bottom: 2rem;
  }
  .card_body_text{
    white-space: pre-wrap;
    margin-bottom: 0;
  }
  .card_body_text_more{
    color: $primary-blue;
    cursor: pointer;
    &:hover{
      color: $primary-blue-hover;
    }
  }
}

.card_body_buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  margin-top: 1rem;
  .btn_icon{
    color: orange;
  }
  .btn_text{
    padding-left: .5rem;
    margin: 0;
  }
  .btn_badge{ 
    padding-left: .5rem;
    color: $primary-blue; 
    font-size: .9rem; 
    font-weight: 600; 
  }
}

div.card_footer{
  padding: 0 1.25rem;
  padding-top: .25rem;
  border-top: 1px dashed $primary-default;
  font-size: .9rem;
  background-color: rgba(255, 255, 255, 0);
}

div.card_footer_no_border{
  border-top: none;
}

@include mobile{
  .container{
    width: 100%;
    font-size: 1rem;
    border-left: none;
    border-right: none;
  }
  .list{
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    display: flex;
    li{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li:first-child{
      width: 5%;
    }
    li:nth-child(2){
      width: 30%;
      word-break: break-all;
    }
    @for $i from 3 to 7{
      @if($i%2==1){
        li:nth-child(#{$i}){
          width: 14%;
        }
      } @else{
        li:nth-child(#{$i}){
            width: 18.5%;
        }
      }
    }
  }
}

.card_remove_modal{
  width: 80%;
  margin: auto;
}

@include mobile{
  // .card_remove_modal{
  //   max-width: 80vw;
  //   margin: 0;
  // }
}