@import "./variables";

@mixin mobile {
  @media screen and (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin overflow{
  @media screen and (min-width: 58rem){
    @content;
  }
}

@mixin flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btn_gray {
  @include flex_center();
  min-width: 1.25rem;
  min-height: 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: $btn-background-gray;
  padding: 0;
  font-size: .825rem;
  color: $font-color-gray;
  box-shadow: $btn-box-shadow;
  & svg{
    pointer-events: none;
  }
  &:hover{
    color: $font-color-light-gray;
  }
  &:disabled{
    background-color: $btn-background-gray-disabled;
    color: $font-color-light-gray;
  }
}