$breakpoint-mobile: 0px;
$breakpoint-tablet: 830px;
$primary-blue: #0d6efd;
$primary-blue-hover:#0b5ed7;
$primary-blue-disabled: #5194f8;
$primary-blue-box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
$primary-gray: #6c757d;
$primary-gray-box-shadow: 0 0 0 0.25rem rgba(179, 179, 179, 0.523);
$primary-gray-outline: rgba(179, 179, 179, 0.523);
$primary-default: rgb(179, 179, 179);
$primary-default-dark: rgb(125, 125, 125);
$primary-default-hover:rgb(200, 200, 200);
$primary-default-border: rgba(179, 179, 179, 0.753);
$primary-default-background: rgb(230, 230, 230);
$primary-default-box-shadow: 0 0 0 0.25rem rgba(179, 179, 179, 0.523);
$primary-default-btn-background: rgba(218, 218, 218, 0.334);
$btn-background-gray: rgba(218, 218, 218, 0.334);
$btn-background-gray-disabled: rgba(230, 230, 230, 0.334);
$btn-box-shadow: 1px 2px 2px -1px rgba(178, 178, 178, 0.675);
$card-box-shadow-bottom: 0px 5px 2px -2px rgba(146, 146, 146, 0.37);
$primary-orange: rgb(253, 185, 50);
$primary-orange-hover:rgb(233, 152, 3);
$primary-orange-border: rgba(222, 181, 121, 0.753);
$primary-orange-background: rgb(249, 238, 221);
$primary-orange-box-shadow: 0 0 0 0.25rem rgba(248, 198, 105, 0.523);
$mobile-btn-gray: rgb(233, 233, 233);
$font-color-gray: rgb(38, 38, 38);
$font-color-light-gray: rgb(124, 124, 124);